*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
 font-size: 62.5%;
 box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    position: relative;
    z-index: 0;
}

h1, 
h2, 
h3, 
h4 {
    font-weight: 500;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    z-index: 1;
}

.header img {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 60rem;
    z-index: -1;
}

@media only screen and (max-width: 996px) {
    .header {
        min-height: 60vh;
    }

    .header img {
        width: 50rem;
    }
}

@media only screen and (max-width: 768px) {
    .header img {
        width: 60vh;
    }
}

@media only screen and (max-width: 567px) {
    .header {
        min-height: 100vh;
    }

    .header img {
        width: 35vh;
    }
}

.nav {
    padding: 1.6rem 0;
    color: #fff;
}

.top-nav {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between; 
}

.logo h1 {
    font-size: 2.5rem;
    color: #fff;
}

.logo h1 span {
    font-weight: bold;
    color: #dd9a05;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
    color: #fff;
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
}

.nav-link:hover {
    border-radius: 0.3rem;
    background-color: #dd9a05;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu {
        position: fixed;
        top: 0;
        /* left: 0; */
        left: -100%; 
        width: 80%;
        height: 100%;
        max-width: 40rem;
        background-color: #fff;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu.show {
        left: 0;
    }

    .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #dd9a05;
        padding: 1rem 1.6rem;
    }

    .top-nav .logo span {
        color: #fff;
    }

    .top-nav .close {
        color: #fff;
        font-size: 2.3rem;
        padding: 1rem;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        color: #fff;
        font-size: 2.3rem;
        padding: .5rem;
        cursor: pointer; 
    }

    .nav-link:link,
    .nav-link:visited {
        display: block;
        font-size: 1.7rem;
        color: #222;
        padding: 1rem 1rem;
        /* padding: 1rem 1rem; */
    }

    .nav-list {
        flex-direction: column;
        align-items: start;
        padding: 1rem 1.6rem;
    }

    body.show::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .nav.show {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.hero {
    position: absolute;
    top: 45%; 
    transform: translate(25%, -50%);
    color: #fff;
}

.hero h2 {
    font-size: 4.5rem;
}

.hero h3 {
    font-weight: 400;
}

.hero h4 {
    font-size: 2rem;
}

.hero h4 span {
    color: #dd9a05;
    text-decoration: underline;
}

.hero a:link,
.hero a:visited {
    display: inline-block;
    padding: 0.8rem 2.5rem;
    border: 1px solid #dd9a05;
    background-color: #dd9a05;
    color: #fff;
    margin-top: 2rem;
}

.hero a:hover {
    background-color: transparent;
}

@media only screen and (max-width: 996px) {
    .hero {
        transform: translate(10%, -50%);
    }
}

@media only screen and (max-width: 768px) {
    .hero h2 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 567px) {
    .hero {
        top: 35%;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .hero h3 {
        font-size: 1.6rem;
    }

    .hero h4 {
        font-size: 1.6rem;
    }
}

.icons {
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: #fff;
}

.icons span:not(:last-child) {
    margin-right: 1rem;
}

.icons span {
    font-size: 2rem;
    cursor: pointer;
    transform: all 300ms ease-in-out;
}

.icons span:hover {
    color: #dd9a05;
}

@media only screen and (max-width: 567px) {
    .icons {
        display: none;
    }
}

/* just for https://validator.w3.org/#validate_by_upload */
.section__h2__none {
    display: none;
    bottom: 5%;
}
/* just for https://validator.w3.org/#validate_by_upload */

/*
@media only screen and (max-width: 1300px) {  
    .header img {
        width: 40vw;
    }
}
*/

/*
@media only screen and (max-width: 1201px) {  
    .hero {
        top: 15%;
    }
}

@media only screen and (min-width: 1200px) {  
    .hero {
        top: 15%;
    }
}

@media only screen and (min-width: 1100px) {  
    .hero {
        top: 15%;
    }
}

@media only screen and (min-width: 1000px) {  
    .hero {
        top: 15%;
    }
}

@media only screen and (min-width: 900px) {  
    .hero {
        top: 15%;
    }
}

@media only screen and (min-width: 800px) {  
    .hero {
        top: 15%;
    }
}

@media only screen and (min-width: 700px) {  
    .hero {
        top: 25%;
    }
}

@media only screen and (min-width: 600px) {  
    .hero {
        top: 45%;
    }
}

@media only screen and (min-width: 500px) {  
    .hero {
        top: 45%;
    }
}

@media only screen and (min-width: 400px) {  
    .hero {
        top: 55%;
    }
}

@media only screen and (min-width: 300px) {  
    .hero {
        top: 55%;
    }
}
*/